
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link href="static/css/lists.css" rel="stylesheet" type="text/css" />
{% set pose = {"eating":"식사", "running":"달리기", "yawn":"하품", "standing":"서있기", "sitting":"앉기", "kneeldown":"엎드리기"} %}
{% extends 'index.html' %}
{% block content %}
    <div class = "images2">
        {% for img in imgs %}
            <div class = "box" style="border: 1px solid black; display: inline-block;">
                <a href = "/detail?path={{ img.path }}&&pose={{ img.pose }}&&time={{ img.datetime }}">
                    <div class = "img_plot">
                        <img src="{{ img.path }}" style="width:150px; height:100px;"/>
                    </div>
                    <div class = "pname">
                        <p>행동 : {{ pose[img.pose] }}</p>
                        <p class="word-break">날짜 : {{ img.datetime }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="detail_btn">
       <a href="/imgList"><button>이미지 더보기</button></a>
    </div>

<script>
setInterval(function(){ // load the data from your endpoint into the div
    $.ajax({
      url: "/renewimg",
      type: "get",
      data: {jsdata: "text"},
      success: function(response) {
        $(".images").html(response);
      },
      error: function(xhr) {
        console.log("error")
      }
    });

},1000)
</script>


{% endblock %}