
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link href="static/css/lists.css" rel="stylesheet" type="text/css" />
{% set pose = {"eating":"식사", "running":"달리기", "yawn":"하품", "standing":"서있기", "sitting":"앉기", "kneeldown":"엎드리기"} %}
{% extends 'index.html' %}
{% block content %}
    <div class = "images2" style="width: 100%; display: block;">
        {% include "renew.html" %}
    </div>
    <div class="detail_btn">
       <a href="/imgList"><button>이미지 더보기</button></a>
    </div>

<script>
setInterval(function(){ // load the data from your endpoint into the div
    $.ajax({
      url: "/renewimg",
      type: "get",
      data: {jsdata: "text"},
      success: function(response) {
        $(".images2").html(response);
      },
      error: function(xhr) {
        console.log("error")
      }
    });

},1000)

setInterval(function(){ // load the data from your endpoint into the div
    $.ajax({
      url: "/renewtable",
      type: "get",
      data: {jsdata: "text"},
      success: function(response) {
        $(".action_table").html(response);
      },
      error: function(xhr) {
        console.log("error")
      }
    });

}(),6000*60*60)
</script>


{% endblock %}