<html>
<head>
    <title>img detail </title>
</head>
<link href="static/css/detail.css" rel="stylesheet" type="text/css" />
<body>
{% include "header.html" %}

{% set poses = {"eating":"식사", "running":"달리기", "yawn":"하품", "standing":"서있기", "sitting":"앉기", "kneeldown":"엎드리기"} %}
    <div>
        <h1>{{ poses[pose] }} {{ time }}</h1>
        <img src="{{ img }}">
    </div>
    <div class="down_btn">
       <a href="{{ img }}" download><button>이미지 원본 다운로드</button></a>
    </div>
     <div class="down_btn">
       <a href="/searchDelete?path={{ img }}"><button>이미지 삭제</button></a>
    </div>
    <div class="down_btn">
       <a href="javascript:history.back();"><button>돌아가기</button></a>
    </div>

</body>
</html>