<html>
<head>
    <title>CCTV</title>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<script>
    $(document).ready(function(){
        if("{{ session['id'] }}" == ""){
            alert("올바른 경로가 아닙니다.");
            location.href = "/";
        }
    })
</script>
<body style="overflow-y: auto;">
    {% include "header.html" %}
    <h2 style="padding-left: 50px">CCTV</h2>
    <div  style="width:60vw;padding-left: 50px; float:left;">

        <img id="img" src="{{ url_for('video_feed') }}" style="width:100%;white-space: nowrap; display: block;">
        {% block content %}{% endblock %}
    </div>
    <div class="action_table" style="float:left; margin-left: 5vw;width:30vw; height:60vh; text-align: center;">
    {% include "actionexist.html" %}
    </div>
<script >
    var ctx = document.getElementById("canvas").getContext('2d');
    var img = new Image();
    img.src = "{{ url_for('video_feed') }}";

    // need only for static image
    //img.onload = function(){
    //    ctx.drawImage(img, 0, 0);
    //};

    // need only for animated image
    function refreshCanvas(){
        ctx.drawImage(img, 0, 0);
    };
    window.setInterval("refreshCanvas()", 50);

</script>

</body>
</html>